/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1163,
    #RPsbsr-1163 {
        padding: var(--sectionPadding);
        /* clips grpahics from causing overflow issues */
        overflow: hidden;
    }
    #RPsbs-1163 .cs-container,
    #RPsbsr-1163 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #RPsbs-1163 .cs-content,
    #RPsbsr-1163 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #RPsbs-1163 .cs-text,
    #RPsbsr-1163 .cs-text {
        margin-bottom: 1rem;
    }
    #RPsbs-1163 .cs-text:last-of-type,
    #RPsbsr-1163 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #RPsbs-1163 .cs-ul,
    #RPsbsr-1163 .cs-ul {
        max-width: 39.375rem;
        margin: 0 0 2rem 0;
        padding: 0;
        /* clips the bullets to create the half circle */
        overflow: hidden;
    }
    #RPsbs-1163 .cs-li,
    #RPsbsr-1163 .cs-li {
        list-style: none;
        margin: 0 0 0.5rem 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.75rem;
        position: relative;
    }
    #RPsbs-1163 .cs-li:before,
    #RPsbsr-1163 .cs-li:before {
        /* bullet */
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0.5rem;
        background: var(--secondary);
        display: block;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #RPsbs-1163 .cs-button-solid,
    #RPsbsr-1163 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #RPsbs-1163 .cs-button-solid:before,
    #RPsbsr-1163 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #RPsbs-1163 .cs-button-solid:hover:before,
    #RPsbsr-1163 .cs-button-solid:hover:before {
        width: 100%;
    }
    #RPsbs-1163 .cs-image-group,
    #RPsbsr-1163 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
        font-size: min(2.15vw, 0.8em);
        width: 42.375em;
        height: 36.75em;
        display: block;
        position: relative;
        z-index: 1;
    }
    #RPsbs-1163 .cs-picture,
    #RPsbsr-1163 .cs-picture {
        position: absolute;
    }
    #RPsbs-1163 .cs-picture img,
    #RPsbsr-1163 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #RPsbs-1163 .cs-picture1,
    #RPsbsr-1163 .cs-picture1 {
        width: 39.375em;
        height: 24.375em;
        top: 0;
        left: 0;
        z-index: 10;
    }
    #RPsbs-1163 .cs-picture2,
    #RPsbsr-1163 .cs-picture2 {
        width: 28.8125em;
        height: 18.75em;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
    #RPsbs-1163 .cs-graphic,
    #RPsbsr-1163 .cs-graphic {
        height: auto;
        position: absolute;
    }
    #RPsbs-1163 .cs-graphic1,
    #RPsbsr-1163 .cs-graphic1 {
        width: 72.125em;
        top: 1.25em;
        right: -3.75em;
        transform: rotate(-15deg);
    }
    #RPsbs-1163 .cs-graphic2,
    #RPsbsr-1163 .cs-graphic2 {
        width: 67.8125em;
        top: 11.5625em;
        right: -1.5625em;
    }
    #RPsbs-1163 .cs-box,
    #RPsbsr-1163 .cs-box {
        width: 12.3125em;
        height: 11.125em;
        padding: 0.5rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        left: 0;
        bottom: 0;
    }
    #RPsbs-1163 .cs-number,
    #RPsbsr-1163 .cs-number {
        /* 20px - 39px */
        font-size: clamp(1.25rem, 4vw, 2.4375rem);
        text-align: center;
        line-height: 1.2em;
        font-weight: 700;
        width: 100%;
        /* 4px - 8px */
        margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #RPsbs-1163 .cs-desc,
    #RPsbsr-1163 .cs-desc {
        /* 12px - 16px */
        font-size: clamp(0.75rem, 1.9vw, 1rem);
        text-align: center;
        line-height: 1.2em;
        font-weight: 700;
        width: 100%;
        max-width: 12ch;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1163 .cs-container,
    #RPsbsr-1163 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #RPsbs-1163 .cs-image-group,
    #RPsbsr-1163 .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #RPsbs-1163 .cs-title,
    body.dark-mode #RPsbsr-1163 .cs-title,
    body.dark-mode #RPsbs-1163 .cs-text,
    body.dark-mode #RPsbsr-1163 .cs-text,
    body.dark-mode #RPsbs-1163 .cs-h3,
    body.dark-mode #RPsbsr-1163 .cs-h3,
    body.dark-mode #RPsbs-1163 .cs-li,
    body.dark-mode #RPsbsr-1163 .cs-li {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #RPsbs-1163 .cs-text,
    body.dark-mode #RPsbsr-1163 .cs-text,
    body.dark-mode #RPsbs-1163 .cs-li,
    body.dark-mode #RPsbsr-1163 .cs-li {
        opacity: 0.8;
    }
    body.dark-mode #RPsbs-1163 .cs-graphic,
    body.dark-mode #RPsbsr-1163 .cs-graphic {
        opacity: 0.1;
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1163 {
        background-color: #f7f7f7;
    }
    #RPsbsr-1163 .cs-picture1 {
        left: auto;
        right: 0;
    }
    #RPsbsr-1163 .cs-picture2 {
        right: auto;
        left: 0;
    }
    #RPsbsr-1163 .cs-graphic {
        height: auto;
        position: absolute;
    }
    #RPsbsr-1163 .cs-graphic1 {
        right: auto;
        left: -3.75em;
        transform: rotate(-165deg);
    }
    #RPsbsr-1163 .cs-graphic2 {
        right: auto;
        left: -1.5625em;
    }
    #RPsbsr-1163 .cs-box {
        left: auto;
        right: 0;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-1163 .cs-image-group {
        /* sends it to the right in the 2nd positon */
        order: 2;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #RPsbsr-1163 {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

                                